<!DOCTYPE html>
<html>
<head>
    <title>Miejsca</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h2>Lista Miejsc</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Opis</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Przykładowe miejsce 1</td>
        <td>Adres 1</td>
        <td>To jest opis przykładowego miejsca 1.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Przykładowe miejsce 2</td>
        <td>Adres 2</td>
        <td>To jest opis przykładowego miejsca 2.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Przykładowe miejsce 3</td>
        <td>Adres 3</td>
        <td>To jest opis przykładowego miejsca 3.</td>
    </tr>
</table>

<a href="/"> BACK </a>

</body>
</html>
