<!DOCTYPE html>
<html>
<head>
    <title>Miejsca</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h2>Lista Miejsc</h2>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Opis</th>
    </tr>
    <tr th:each="place:${places}">
        <td th:text="${place.name}"></td>
        <td th:text="${place.address}"></td>
        <td th:text="${place.description}"></td>
    </tr>

</table>

<a href="/"> BACK </a>

</body>
</html>
